<section>
    <h1>Iniciar sesion</h1>
    <article id="loginMessage" hidden></article>
    <form id="loginForm">
        <label>
            Email
            <input type="email" name="email" required />
        </label>
        <label>
            Contrasena
            <input type="password" name="password" required />
        </label>
        <button type="submit">Ingresar</button>
    </form>
    <p>¿No tenes cuenta? <a href="/register">Registrate</a></p>
</section>
<script src="/js/auth.js" defer></script>
